<p>
  
  
  <mat-toolbar class="bg-clear-dark">
    <a class="text-decoration-none text-white d-flex align-items-center" [routerLink]="['/home']"> 
      <mat-icon  class="material-icons-outlined">
      nordic_walking
    </mat-icon>
  BöökingMeister</a>
    <span class="example-spacer"></span>
    <div *ngIf="isLoggedIn; then thenBlock else elseBlock"></div>
    <ng-template #thenBlock>
      
      <a mat-button [routerLink]="['/bookings']" class="text-decoration-none text-white"  aria-label="Example icon-button with menu icon">
        {{user.firstname | titlecase }}'s Bookings
      </a>
      <button mat-button class="example-icon" (click)="signout()" aria-label="Example icon-button with menu icon">
        Logout
       </button>
    </ng-template>
    <ng-template #elseBlock>
    </ng-template>
    
  </mat-toolbar>
</p>
<div class="container">
  <div *ngIf="isLoggedIn; then showTheGoods else hideTheGoods"></div>
  <ng-template #showTheGoods>
    <router-outlet></router-outlet>
   
  </ng-template>
  <ng-template #hideTheGoods>
    <div *ngIf="showReg==true; then loginBlock else signUpBlock"></div>
    <ng-template #loginBlock>
      
      <app-sign-up></app-sign-up>
      
    </ng-template>
    <ng-template #signUpBlock>
      <app-login [(setShowReg)]="setShowReg"></app-login>
      <div class="col col-12 bg-clear-dark my-0">
        Don't have an account?  <a (click)="setShowReg(true)" routerLink>
           Click here to sign up
         </a>
        </div>
    </ng-template>
  </ng-template>
</div>